---
import { type iconsType } from 'astro-pure/types'
import { Icon } from 'astro-pure/user'

interface SubstatsItem {
  platform: string
  icon: iconsType
  color?: string
  link: string
}

type Props = {
  stats: SubstatsItem[]
}

const { stats } = Astro.props as Props
---

<div class='grid grid-cols-1 gap-3 rounded-xl border p-2 sm:grid-cols-2 sm:p-3'>
  {
    stats.map(({ link, platform, icon, color }) => (
      <a
        class='group text-muted-foreground no-underline'
        href={link}
        target='_blank'
        rel='noopener noreferrer'
      >
        <div class='flex items-center gap-3 rounded-lg border border-transparent px-3 py-2 transition-all hover:border-border hover:bg-muted'>
          <Icon name={icon} color={color} />
          <div class='flex-1 text-foreground transition-colors group-hover:text-primary'>
            {platform}
          </div>
        </div>
      </a>
    ))
  }
</div>
